@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  background: #EFEFEF;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.expertiseText {
  transition: opacity 0.4s;
}

.sectionDiv:nth-child(2) {
  top: -100vh
}

.sectionDiv:nth-child(3) {
  top: -200vh
}

.sectionDiv:nth-child(4) {
  top: -300vh;
}

.sectionDiv:nth-last-child() {
  height: 100vh;
}

.innerCard {
  will-change: filter, transform;
}


.hero-title div span {
  display: inline-block;
  transform-origin: bottom;
}


.hero-title {

}

.hovercard:hover img{
filter: invert(1);
}