.portfolio-grid .portfolio-card:nth-child(3),.portfolio-grid .portfolio-card:nth-child(9) {
    grid-row: span 2 / span 2;
    grid-column:span 2 / span 2 ;
}

.portfolio-grid .portfolio-card:nth-child(4),.portfolio-grid .portfolio-card:nth-child(11) {
    grid-row: span 2 / span 2;
}

.portfolio-card {
    height: 100%;
}



.portfolio-menu span{
    min-width: max-content;
}

/* 
.portfolio-images img {
    min-width: 300px;
    height: 300px;
} */

.portfolio-images img:nth-child(3n+1) {
    min-width: 250px !important;
    min-height: 250px !important;
}

.portfolio-images img:nth-child(3n+2) {
    min-width: 300px !important;
    min-height: 300px !important;
}

.portfolio-images img:nth-child(3n+3) {
    min-width: 400px !important;
    min-height: 400px !important;
}

.even-height {
    height: 300px;
    min-width: 300px;
  }
  
  .odd-height {
    height: 400px;
    min-width: 400px;
  }